.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
  margin: 0 160px;
  width: 100vw;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  gap: 20px;
}

.maintext{
  font-family: SfRoundedSemiBold;
  text-align: center;
  margin:0;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.51px;
  color: #F0E9DF;
  span{
    color: #F0AA42;

  }
}

@media(max-width:800px){
  .wrapper{
    margin: 0 20px;
  }

  .maintext{
    font-size: 28px;
    line-height: 33px;
  }

}