.wrapper{
  display: flex;
  margin-top: 75px;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 0 160px;
}

.allinfo{
  display: flex;
  z-index:10;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.texts{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 840px;
  gap: 25px;
}


.heromain{
  text-align: center;
  margin: 0;
  font-family: SfRoundedSemiBold;
  font-size: 60px;
  line-height: 71.6px;
  color: white;

  span{
    color: #F0AA42;
  }

}

.herotext{
  margin: 0;
  text-align: center;
  font-family: SfRoundedMedium;
  font-weight: 500;
  font-size: 28px;
  color: rgba(white, 0.5);
}

.makeorderbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: SfRoundedMedium;
  padding: 18px 34px;
  border-radius: 16px;
  font-size: 20px;
  line-height: 23.87px;
  background: #F0AA42;
  color: black;
}

.svgs{
  position: absolute;
  z-index: 1;
}

.conf1{
  position: absolute;
  top: -120px;
  left: -850px;
}


.studiologo{
  width: 125px;
  height: 125px;
  border-radius: 36px;
}

.raketka{
  position: absolute;
  top: 8vw;
  left: 10vw;
  height: 300px;
}

.absolutes{
  position: absolute;
  opacity: 0.85;
}

.akcia{
  position: absolute;
  top: -18vw;
  left: -31vw;
}

.rozigrish{
  position: absolute;
  top: -8vw;
  left: -46vw;
}

.stars{
  position: absolute;
  top: -13vw;
  left: 25vw;
}

.colors{
  position: absolute;
  top: 7vw;
  left: -34vw;
}

@media(max-width: 1536px){
  .akcia{
    top: -21vw;
    left: -39vw;
  }

  .stars{
    top: -18vw;
    left: 25vw;
  }

  .raketka{
    position: absolute;
    top: 14vw;
    left: 10vw;
  }
}

@media(max-width: 1450px){
  .akcia{
    top: -23vw;
    left: -39vw;
  }
  .rozigrish{
    top: -7vw;
    left: -49vw;
  }

  .raketka{
    height: 300px;
  }
}

@media(max-width: 1230px){
  .akcia{
    top: -25vw;
    left: 16vw;
  }
  .rozigrish{
    top: -25vw;
    left: -36vw;
  }

  .stars{
    top: 13vw;
    left: 10vw;
  }

  .colors{
    display: none;
  }

  .raketkblock{
    .raketka{
      position: static;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 19vw;
    justify-content: center;
    align-items: center;
  }

  .raketka{
    top: 19vw;
  }
}

@media(max-width: 1159px){
  .raketkblock{
    .raketka{
      position: static;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 23vw;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 1115px){
  .akcia{
    top: -30vw;
    left: -36vw;
  }
  .rozigrish{
    top: -30vw;
    left: 16vw;
  }

  .stars{
    top: 17vw;
    left: 10vw;
  }

  .raketkblock{
    .raketka{
      position: static;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 26vw;
    justify-content: center;
    align-items: center;
  }

}

@media(max-width: 1041px){
  .raketkblock{
    .raketka{
      position: static;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 26vw;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 1000px){
  .akcia{
    top: -35vw;
    left: -30vw;
  }
  .rozigrish{
    top: -35vw;
    left: 10vw;
  }

  .raketkblock{
    .raketka{
      position: static;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 29vw;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 900px){
  .stars{
    top: 23vw;
    left: 11vw;
  }

  .raketkblock{
    .raketka{
      position: static;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 35vw;
    justify-content: center;
    align-items: center;
  }


}


@media(max-width: 800px){
  .wrapper{
    margin: 100px 0;
  }

  .studiologo{
    width: 80px;
    height: 80px;
    border-radius: 26px;
  }

  .texts{
    max-width: 504px;
    gap: 20px;
  }

  .content{
    gap: 20px;
    margin: 0 20px;
  }

  .allinfo{
    margin: 0 20px;
  }

  .heromain{
    font-size: 36px;
    line-height: 43px;
  }
  .herotext{
    font-size: 14px;
  }

  .akcia{
    top: -25vw;
    left: 16vw;
  }
  .rozigrish{
    top: -25vw;
    left: -36vw;
  }

  .stars{
    top: 8vw;
    left: 15vw;
  }

  .raketkblock{
    .raketka{
      position: static;
      height: 370px;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 20vw;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 650px){
  .akcia{
    top: -37vw;
    left: 16vw;
  }
  .rozigrish{
    top: -30vw;
    left: -36vw;
  }
}

@media(max-width: 585px){
  .akcia{
    top: -43vw;
    left: 13vw;
  }
  .rozigrish{
    top: -34vw;
    left: -40vw;
  }

  .stars{
    top: 19vw;
    left: 20vw;
  }

  .raketkblock{
    .raketka{
      position: static;
      height: 300px;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 34vw;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 585px){
  .akcia{
    top: -53vw;
    left: 10vw;
  }
  .rozigrish{
    top: -43vw;
    left: -40vw;
  }

}

@media(max-width: 450px){
  .akcia{
    top: -60vw;
    left: 10vw;
  }
  .rozigrish{
    top: -50vw;
    left: -50vw;
  }

  .raketkblock{
    .raketka{
      position: static;
      height: 260px;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 48vw;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 450px){
  .akcia{
    top: -68vw;
    left: 6vw;
  }
  .rozigrish{
    top: -55vw;
    left: -50vw;
  }
}

@media(max-width: 400px){
  .stars{
    top: 27vw;
    left: 27vw;
  }

  .raketkblock{
    .raketka{
      position: static;
      height: 220px;
    }
    display: flex;
    position: absolute;
    left: -50vw;
    width: 100vw;
    top: 56vw;
    justify-content: center;
    align-items: center;
  }
}