.wrapper{
  display: flex;
  margin-top: 75px;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 0 160px;
}

.allinfo{
  display: flex;
  z-index:10;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.texts{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 840px;
  gap: 25px;
}


.heromain{
  text-align: center;
  margin: 0;
  font-family: SfRoundedSemiBold;
  font-size: 60px;
  line-height: 71.6px;
  color: white;

  span{
    color: #F0AA42;
  }

}

.herotext{
  margin: 0;
  text-align: center;
  font-family: SfRoundedMedium;
  font-weight: 500;
  font-size: 28px;
  color: rgba(white, 0.5);
}

.makeorderbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: SfRoundedMedium;
  padding: 18px 34px;
  border-radius: 16px;
  font-size: 20px;
  line-height: 23.87px;
  background: #F0AA42;
  color: black;
}

.svgs{
  position: absolute;
  z-index: 1;
}

.conf1{
  position: absolute;
  top: -120px;
  left: -850px;
}

.akcia{
  position: absolute;
  top: -320px;
  left: -590px;
}

.stars{
  position: absolute;
  top: -224px;
  left: 506px;
  width: 152px;
  height: 152px;
  opacity: 0.7;
}

.colors{
  position: absolute;
  top: 174px;
  left: -606px;
  opacity: 0.7;
  width: 234px;
  height: 234px;
  rotate: -15 deg;
}

.raketka{
  position: absolute;
  top: 130px;
  left: 50px;
}

@media(max-width: 800px){
  .wrapper{
    margin: 100px 0;
  }

  .texts{
    max-width: 504px;
    gap: 20px;
  }

  .content{
    gap: 20px;
    margin: 0 20px;
  }

  .allinfo{
    margin: 0 20px;
  }

  .heromain{
    font-size: 36px;
    line-height: 43px;
  }
  .herotext{
    font-size: 14px;
  }
}