.wrapper{
  margin-top: 150px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  justify-content: center;
}

.textandbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:40px;
}

.maintext{
  font-family: SfRoundedSemiBold;
  margin:0;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.51px;
  color: #F0E9DF;
  span{
    color: #F0AA42;

  }
}

.paragraph{
  font-family: SfRoundedMedium;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.87px;
  color: #F0E9DF;
  opacity: 0.5;
  margin: 0;
}
.absolutes{
  position: absolute;
}

.flam1e{
  position: absolute;
  top: 21vw;
  left: 65vw;
}

.makeorderbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: SfRoundedMedium;
  padding: 18px 34px;
  border-radius: 16px;
  font-size: 20px;
  line-height: 23.87px;
  background: #F0AA42;
  gap: 10px;
  color: black;
}

.absolutes{
  position: absolute;
  z-index: 1;
  opacity: 0.85;
}

.flame{
  position: absolute;
  opacity: 0.7;
  width: 148px;
  height: 148px;
  top: 350.72px;
  left: 1325px;
  rotate:  -10deg;
}

@media(max-width: 1870px){
  .flam1e{
    top: 25vw;
    left: 65vw;
  }
}

@media(max-width: 1870px){
  .flam1e{
    top: 29vw;
    left: 73vw;
  }
}

@media(max-width: 1400px){
  .flam1e{
    top: 33vw;
    left: 85vw;
  }
}

@media(max-width: 1230px){
  .flam1e{
    top: -6vw;
    left: 33vw;
  }
}

@media(max-width: 1000px){
  .flam1e{
    top: -3vw;
    left: 50vw;
  }
}

@media(max-width: 800px){
  .flam1e{
    top: -3vw;
    left: 70vw;
  }
}

@media(max-width: 635px){
  .flam1e{
    top: -3vw;
    left: 85vw;
  }
}

@media(max-width: 600px){
  .paragraph{
    font-size: 14px;
    line-height: 16px;
  }
  .content{
    gap: 40px;
  }

  .textandbtn{
    gap: 20px;
    width: 100vw;
  }

  .makeorderbtn{
    padding: 13px 26px;
    font-size: 16px;
  }

  .flam1e{
    top: -2vw;
    left: 95vw;
  }
}

@media(max-width: 560px){
  .flam1e{
    top: -5vw;
    left: 100vw;
  }
}

@media(max-width: 510px){
  .flam1e{
    top: -2vw;
    left: 110vw;
  }
}

@media(max-width: 480px){
  .flam1e{
    top: -2vw;
    left: 120vw;
  }
}

@media(max-width: 450px){
  .flam1e{
    top: -2vw;
    left: 130vw;
  }
}

@media(max-width: 425px){
  .flam1e{
    top: -8vw;
    left: 140vw;
  }
}

@media(max-width: 400px){
  .flam1e{
    top: -10vw;
    left: 150vw;
  }
}

@media(max-width: 400px){
  .flam1e{
    top: -10vw;
    left: 155vw;
  }
}

@media(max-width: 370px){
  .flam1e{
    top: -10vw;
    left: 160vw;
  }
}