.slidercontainer {
  position: relative;
  width: 100%; /* Слайдер будет занимать всю ширину экрана */
  margin: auto;
  overflow: hidden;
}

.slick-slider {
  overflow: visible;
}

.slick-list {
  padding: 0 50px; /* Отступы для видимости крайних блоков */
}

.slick-slide {
  transition: transform 0.5s ease-in-out;
  opacity: 1;
}

.slideritem {
  text-align: center;
  padding: 10px;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.slider-item img {
  max-width: 100%;
  display: block;
}

.blurleft, .blurright {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px; /* Ширина размытия по краям */
  z-index: 1;
  pointer-events: none; /* Исключает размытие из кликабельных элементов */
}

.blurleft {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
}

.blurright {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
}


.title{
  color: #FFFFFF;
}

.subtitles{
  color: #FFFFFF;
}