.mySwiper{
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.portfolio-slider{
    max-width: 1770px;
    display: flex;
    gap: 100px;
}

.portfolio-block{
    display: flex;
    flex-direction: column;
    width: 304px;
    height: 322px;
    gap: 25px;
}

.textssliders{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slidermaintext{
    font-family: SfRoundedSemiBold;
    font-size: 28px;
    line-height: 33.41px;
    text-align: left;
    color: white;
    margin: 0;
}

.slidertext{
    font-family: SfRoundedMedium;
    font-size: 16px;
    line-height: 19.09px;
    text-align: left;
    color: rgba(240, 233, 223, 0.35);
    margin: 0;

}

.swiper-button-prev:after{
    color: yellow;
    background: blue;
}

.swiper-button-next:after{
    color: yellow;
    background: blue;
}

.swiper-slide{
    filter: blur(15px)
}