@media(max-width: 1536px){
  .akcia{
    width: 280px;
    height: 280px;
  }

  .rozigrish{
    width: 280px;
    height: 280px;
  }

  .stars{
    width: 135px;
    height: 135px;
  }

  .colors{
    width:240px;
    height: 240px;
  }
}

@media(max-width: 1450px){
  .akcia{
    width: 265px;
    height: 265px;
  }

  .rozigrish{
    width: 265px;
    height: 265px;
  }
}

@media(max-width: 1315px){
  .akcia{
    width: 220px;
    height: 220px;
  }

  .rozigrish{
    width: 220px;
    height: 220px;
  }

  .colors{
    width:200px;
    height: 200px;
  }

}

@media(max-width: 1230px){
  .akcia{
    width: 200px;
    height: 200px;
  }

  .rozigrish{
    width: 200px;
    height: 200px;
  }

  .stars{
    width: 90px;
    height: 90px;
  }
}

@media(max-width: 1115px){
  .akcia{
    width: 180px;
    height: 180px;
  }

  .rozigrish{
    width: 180px;
    height: 180px;
  }

  .colors{
    width:170px;
    height: 170px;
  }
}

@media(max-width: 1000px){
  .akcia{
    width: 160px;
    height: 160px;
  }

  .rozigrish{
    width: 160px;
    height: 160px;
  }

  .stars{
    width: 80px;
    height: 80px;
  }
}

@media(max-width: 600px){
  .stars{
    width: 70px;
    height: 70px;
  }
}