.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.content{
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100vw;
  justify-content: center;
}

.workers{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.maintext{
  font-family: SfRoundedSemiBold;
  margin:0;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.51px;
  text-align: center;
  color: #F0E9DF;
  span{
    color: #F0AA42;

  }
}

.developers{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  flex-wrap: wrap;
}

.designers{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workerstext{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SfRoundedSemiBold;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.41px;
  color: #F0E9DF;
  margin: 0;
  opacity: 0.5;
}


.manycards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  width: 100vw;
  flex-wrap: wrap;
}

.juniordev{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 30px;
  gap: 10px;
  border-radius: 36px;
  background: #FFFFFF1A;
  box-shadow: 0 50px 100px 0 #00000040;
}

.middledev{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 30px;
  gap: 10px;
  border-radius: 36px;
  box-shadow: 0 50px 100px 0 #00000040;
  background: #433829;
}

.seniordev{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 30px;
  gap: 10px;
  border-radius: 36px;
  box-shadow: 0 50px 100px 0 #00000040;
  background: #433829;
  border: 4px solid #F0AA42;
}

.paragraph{
  font-family: SfRoundedMedium;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.87px;
  color: #F0E9DF;
  opacity: 0.5;
  margin: 0;
  text-align: center;

}

.makeorderbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: SfRoundedMedium;
  padding: 18px 34px;
  border-radius: 16px;
  font-size: 20px;
  line-height: 23.87px;
  background: #F0AA42;
  gap: 10px;
  color: black;
}

.absolutes {
  position: absolute;
}

.glasses{
  position: absolute;
  top: 6vw;
  left: -38vw;
}

.question{
  position: absolute;
  top: 18vw;
  left: 17vw;
}

.workers{
  width: 100vw;
}

.lastitems{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


@media(max-width: 800px){
  .content{
    gap: 40px;
  }
  .lastitems{
    gap: 20px;
  }
  .juniordev{
    padding: 20px;
    border-radius: 24px;
  }
  .middledev{
    padding: 20px;
    border-radius: 24px;
  }

  .seniordev{
    padding: 20px;
    border-radius: 24px;
  }
  .maintext{
    font-size: 28px;
    line-height: 33.41px;
  }

  .paragraph{
    font-size: 14px;
  }

  .workerstext{
    font-size: 20px;
  }

  .makeorderbtn{
    font-size: 16px;
    line-height: 19px;
    gap: 8px;
    padding: 15px 32px;
  }
}

@media(max-width: 415px){
  .juniordev{
    padding: 8px;
    border-radius: 16px;
  }
  .middledev{
    padding: 8px;
    border-radius: 16px;
  }

  .seniordev{
    padding: 8px;
    border-radius: 16px;
  }
}

