.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 600px;
  padding: 50px 176px;
  z-index: 20;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 36px;
  backdrop-filter: blur(25px);
  box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.25);
}

.texts{
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.absolutes{
  position: absolute;
}

.laptop{
  position: absolute;
  top: -23vw;
  left: -40vw;
}

.zeus{
  position: absolute;
  top: 10vw;
  left: 27vw;
}

.maintext{
  text-align: center;
  font-family: SfRoundedSemiBold;
  margin:0;
  font-size: 44px;
  font-weight: 600;
  line-height: 52.51px;
  color: #F0E9DF;
  span{
    color: #F0AA42;

  }
}

.text{
  font-family: SfRoundedMedium;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  margin: 0;
  color: rgba(white, 0.50);
}

.backlineabs{
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: center;
  gap: 50px;
  rotate: 5deg;
  opacity: 0.3;
  height: 60%;
}


.mainlineabs{
  display: flex;
  position: absolute;
  align-items: center;
  gap: 50px;
  z-index: 30;
  rotate: -5deg;
  opacity: 0.75;
  height: 60%;
}

@media(max-width: 1800px){
  .laptop{
    top: -27vw;
    left: -45vw;
  }

  .zeus{
    top: 13vw;
    left: 33vw;
  }
}

@media(max-width: 1380px){
  .laptop{
    top: -30vw;
    left: -50vw;
  }

  .zeus{
    top: 16vw;
    left: 40vw;
  }
}


@media(max-width: 1300px){
  .wrapper{
    width: 95vw;
  }
}

@media(max-width: 800px){
  .maintext{
    font-size: 28px;
    line-height: 33.41px;
    text-align: center;
  }
  .mainlineabs{
    gap: 30px;
  }

  .texts{
    gap: 140px;
  }

  .text{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    text-align: center;

  }
  .content{
    margin: 0 20px;
    padding: 50px 130px;
  }
}

@media(max-width: 1230px){
  .laptop{
    top: -35vw;
    left: -50vw;
  }
}

@media(max-width: 1100px){
  .laptop{
    top: -40vw;
    left: -50vw;
  }

  .zeus{
    top: 27vw;
    left: 38vw;
  }
}

@media(max-width: 943px){
  .laptop{
    top: -50vw;
    left: 36vw;
  }

  .zeus{
    top: 35vw;
    left:-50vw;
  }
}

@media(max-width: 834px){
  .laptop{
    top: -62vw;
    left: 36vw;
  }

  .zeus{
    top: 43vw;
    left:-50vw;
  }
}

@media(max-width: 800px){
  .laptop{
    top: -42vw;
    left: 29vw;
  }

  .zeus{
    top: 27vw;
    left:-50vw;
  }
}

@media(max-width: 690px){
  .laptop{
    top: -50vw;
    left: 34vw;
  }

  .zeus{
    top: 32vw;
    left:-50vw;
  }
}

@media(max-width: 600px){
  .laptop{
    top: -58vw;
    left: 34vw;
  }

  .zeus{
    top: 34vw;
    left:-50vw;
  }
}

@media(max-width: 570px){
  .content{
    padding: 20px 0;
  }

  .laptop{
    top: -50vw;
    left: 30vw;
  }

  .texts{
    display: flex;
    flex-direction: column;
    width: 75vw;
    gap: 140px;
  }

  .mainlineabs{
    gap: 20px;
    margin-top: 50px;
  }

  .backlineabs{
    gap: 20px;
  }
}

@media(max-width: 440px){
  .laptop{
    top: -64vw;
    left: 27vw;
  }

  .zeus{
    top: 48vw;
    left:-50vw;
  }
}