@media(max-width: 1580px){
  .zeus{
    width: 150px;
    height: 150px;
  }
}

@media(max-width: 1450px){
  .angel{
    width: 150px;
    height: 150px;
  }

  .victory{
    width: 200px;
    height: 200px;
  }
}

@media(max-width: 1180px){
  .zeus{
    width: 120px;
    height: 120px;
  }
}

@media(max-width: 1116px){
  .glasses{
    width: 200px;
    height: 200px;
  }

  .question{
    width: 200px;
    height: 200px;
  }

  .angel{
    width: 120px;
    height: 120px;
  }

  .victory{
    width: 170px;
    height: 170px;
  }
}

@media(max-width: 952px){
  .question{
    width: 120px;
    height: 120px;
  }
}


@media(max-width: 690px){
  .zeus{
    width: 85px;
    height: 85px;
  }
}

@media(max-width: 685px){
  .angel{
    width: 90px;
    height: 90px;
  }

  .victory{
    width: 120px;
    height: 120px;
  }
}

@media(max-width: 650px){
  .question{
    width: 80px;
    height: 80px;
  }
}

@media(max-width: 600px){
  .angel{
    width: 83px;
    height: 83px;
  }

  .victory{
    width: 90px;
    height: 90px;
  }
}

@media(max-width: 550px){
  .question{
    width: 70px;
    height: 70px;
  }
}

@media(max-width: 440px){
  .zeus{
    width: 60px;
    height: 60px;
  }
}