body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  width: 100%;
  background-image: url("./assets/BGLighting.svg");
  background-repeat: no-repeat;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: SfRoundedBold;
  src: url("../public/SF-Pro-Rounded-Bold.ttf")
}

@font-face {
  font-family: SfRoundedSemiBold;
  src: url("../public/SF-Pro-Rounded-Semibold.ttf")
}

@font-face {
  font-family: SfRoundedMedium;
  src: url("../public/SF-Pro-Rounded-Medium.ttf")
}


@media(max-width:800px){
  .swiper-slide.swiper-slide-active{
    max-width: 406px;
  }

  .swiper-slide.swiper-slide-prev{
    max-width: 406px;
  }
  .swiper-slide.swiper-slide-next{
    max-width: 406px;
  }

}